<h1><%= markdown_to_html @entry.title %></h1>

<% if policy(@entry).edit? %>
	<%= link_to "Edit", edit_topic_entry_path(@topic,@entry), class: 'btn btn-success' %>
<% end %>

<p><%= markdown_to_html @entry.body %></p>

